{% extends 'emails/base_email.html' %}

{% block subject %}
  Reset your Password
{% endblock %}

{% block content %}
  <h2>Reset Password Request</h2>

  <p class="greeting">Moin {{ username }},</p>
  <p>We received a request to reset your password. If this was you, please click the button below to set a new password:</p>

  <div class="button-container">
    <a href="{{ link }}" class="btn">Reset Password</a>
  </div>

  <p class="small-note">For security reasons, this link is only valid for 24 hours.</p>
  <p>If you didn't request a password reset, you can safely ignore this email.</p>
{% endblock %}
